.cart { 
	background-color:rgba(244.3749949336052, 244.3749949336052, 244.3749949336052, 1);
	width:1920px;
	height:1071px;
	position:absolute;
}
.cart_title { 
	color:rgba(0, 0, 0, 1);
	width:538px;
	height:69px;
	position:absolute;
	left:691px;
	top:139px;
	font-family:PT Sans Caption;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.card_set { 
	width:1720px;
	height:455px;
	position:absolute;
	left:100px;
	top:229px;
}
.forecasts { 
	width:1720px;
	height:455px;
	position:absolute;
	left:0px;
	top:0px;
}
.forecast { 
	width:790px;
	height:194px;
	position:absolute;
	left:40px;
	top:233.23394775390625px;
}
.cart_card { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:741px;
	height:193.23394775390625px;
	position:absolute;
	left:0px;
	top:0px;
}
.cart_card_bg { 
	background-color:rgba(255, 255, 255, 0.7099999785423279);
	width:471px;
	height:50.85103988647461px;
	position:absolute;
	left:0px;
	top:2.2600579261779785px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.cart_card_img { 
	width:297.1395568847656px;
	height:193.23394775390625px;
	position:absolute;
	left:443.860107421875px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/cart_card_img.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.cart_card_fade { 
	background-image:linear-gradient(0deg, rgba(213.00000250339508, 206.0000029206276, 255, 1) 0%,rgba(255, 255, 255, 0) 100%) ;
	width:297.5863037109375px;
	height:193.23394775390625px;
	position:absolute;
	left:443.41339111328125px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.card_content { 
	width:471px;
	height:169.22216796875px;
	position:absolute;
	left:24px;
	top:10px;
}
.cart_card_title { 
	color:rgba(0, 0, 0, 1);
	width:159px;
	height:41px;
	position:absolute;
	left:156px;
	top:0px;
	font-family:PT Sans Caption;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.cart_card_date { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:471px;
	height:53.111083984375px;
	position:absolute;
	left:0px;
	top:52px;
}
.cart_card_lbl { 
	color:rgba(0, 0, 0, 1);
	width:471px;
	height:53.111083984375px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans Caption;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}
.cart_card_city { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:471px;
	height:53.111083984375px;
	position:absolute;
	left:0px;
	top:116.111083984375px;
}
.cart_card_city_bg { 
	background-color:rgba(255, 255, 255, 0.7099999785423279);
	width:470.8240661621094px;
	height:50.85103988647461px;
	position:absolute;
	left:0px;
	top:2.260045051574707px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.cart_card_city_lbl { 
	color:rgba(0, 0, 0, 1);
	width:471px;
	height:53.111083984375px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans Caption;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}
.cart_card_loc_img { 
	width:31px;
	height:43px;
	position:absolute;
	left:11px;
	top:6px;
	background-image:url(images/cart_card_loc_img.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.trash_img { 
	width:44px;
	height:57px;
	position:absolute;
	left:746px;
	top:67.76605224609375px;
	background-image:url(images/trash_img.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.card { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:741px;
	height:194px;
	position:absolute;
	left:0px;
	top:0px;
}
.bg { 
	background-color:rgba(255, 255, 255, 0.7099999785423279);
	width:471px;
	height:50.85103988647461px;
	position:absolute;
	left:0px;
	top:2.2600579261779785px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.img { 
	width:297px;
	height:194px;
	position:absolute;
	left:444px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/img.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.fade { 
	background-image:linear-gradient(0deg, rgba(223.00000190734863, 229.00000154972076, 255, 1) 0%,rgba(255, 255, 255, 0) 100%) ;
	width:297.5863037109375px;
	height:193.23394775390625px;
	position:absolute;
	left:443.41339111328125px;
	top:0.23394775390625px;
}
.content { 
	width:471px;
	height:169.22216796875px;
	position:absolute;
	left:24px;
	top:13.23394775390625px;
}
.title { 
	color:rgba(0, 0, 0, 1);
	width:471px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans Caption;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.date { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:471px;
	height:53.111083984375px;
	position:absolute;
	left:0px;
	top:52px;
}
.lbl { 
	color:rgba(0, 0, 0, 1);
	width:471px;
	height:53.111083984375px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans Caption;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}
.city { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:471px;
	height:53.111083984375px;
	position:absolute;
	left:0px;
	top:116.111083984375px;
}
.city_bg { 
	background-color:rgba(255, 255, 255, 0.7099999785423279);
	width:470.8240661621094px;
	height:50.85103988647461px;
	position:absolute;
	left:0px;
	top:2.260045051574707px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.loc_img { 
	width:31px;
	height:43px;
	position:absolute;
	left:11px;
	top:6px;
	background-image:url(images/loc_img.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.btn_affirm { 
	width:300px;
	height:56px;
	position:absolute;
	left:810px;
	top:951px;
}
.affirm_bg { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(54.69749495387077, 210.37499696016312, 0, 0);
	width:300px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:28px;
	border-top-right-radius:28px;
	border-bottom-left-radius:28px;
	border-bottom-right-radius:28px;
}
.affirm_lbl { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans Caption;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}