.details { 
	background-color:rgba(244.3749949336052, 244.3749949336052, 244.3749949336052, 1);
	width:1920px;
	height:963px;
	position:absolute;
}
.detail_body { 
	width:1920px;
	height:757px;
	position:absolute;
	left:0px;
	top:144px;
}
.detail_title { 
	color:rgba(0, 0, 0, 1);
	width:538px;
	height:69px;
	position:absolute;
	left:691px;
	top:0px;
	font-family:PT Sans Caption;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.detail_img { 
	width:1920px;
	height:580px;
	position:absolute;
	left:0px;
	top:109px;
	background-image:url(http://127.0.0.1:9000/test/source_obj/temp.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.detail_desc { 
	color:rgba(0, 0, 0, 1);
	width:860px;
	height:28px;
	position:absolute;
	left:530px;
	top:729px;
	font-family:PT Sans Caption;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
