.details { 
	background-color:rgba(244.3749949336052, 244.3749949336052, 244.3749949336052, 1);
	width:1920px;
	height:963px;
	position:absolute;
}
.detail_body { 
	width:1920px;
	height:757px;
	position:absolute;
	left:0px;
	top:120px;
	display:flex;
	flex-flow: column;
	gap:25px;
	align-content: center;
}
.detail_title { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:69px;
	font-family:PT Sans Caption;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	font-weight: bold;
}
.detail_img { 
	width:1920px;
	height:540px;
	background-image:url(http://127.0.0.1:9000/test/source_obj/temp.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position: 50% 50%;
}
.detail_desc { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:28px;
	font-family:PT Sans Caption;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	text-align: center;
}
