.home { 
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:1920px;
	height:960px;
	position:absolute;
}
.home_bg_img { 
	width:1920px;
	height:960px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(http://127.0.0.1:9000/test/source_obj/clouds.gif);
	background-repeat:no-repeat;
	background-size:cover;
}
.home_bg_fade { 
	background-color:rgba(45.00394530594349, 0, 141.31250202655792, 0.03999999910593033);
	width:1920px;
	height:960px;
	position:absolute;
	left:0px;
	top:0px;
}
.home_body { 
	width:522px;
	height:530px;
	position:absolute;
	left:699px;
	top:368px;
}
.home_title { 
	color:rgba(255, 255, 255, 1);
	width:522px;
	height:65px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans Caption;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.home_desc { 
	color:rgba(255, 255, 255, 1);
	width:287px;
	height:69px;
	position:absolute;
	left:118px;
	top:112px;
	font-family:PT Sans Caption;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.btn_resume { 
	width:300px;
	height:56px;
	position:absolute;
	left:111px;
	top:474px;
}
.resume_bg { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 0.07000000029802322);
	width:300px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:28px;
	border-top-right-radius:28px;
	border-bottom-left-radius:28px;
	border-bottom-right-radius:28px;
}
.resume_lbl { 
	color:rgba(255, 255, 255, 1);
	width:300px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans Caption;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.home_header { 
	width:1920px;
	height:101px;
	position:absolute;
	left:0px;
	top:0px;
}
.home_header_bg { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.10000000149011612) 0%,rgba(115.00000074505806, 115.00000074505806, 115.00000074505806, 0) 100%) ;
	width:1920px;
	height:101px;
	position:absolute;
	left:0px;
	top:0px;
}
.home_logo { 
	width:247px;
	height:82px;
	position:absolute;
	left:82px;
	top:9px;
}
.home_logo_lbl { 
	color:rgba(255, 255, 255, 1);
	width:165px;
	height:44px;
	position:absolute;
	left:82px;
	top:19px;
	font-family:PT Sans Caption;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.home_img { 
	width:82px;
	height:82px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(http://127.0.0.1:9000/test/source_obj/logo_light.png);
	background-repeat:no-repeat;
	background-size:cover;
}
