.f87_59 { 
	overflow:hidden;
}
.e87_59 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(246.2806534767151, 242.24999696016312, 255, 1) 100%) ;
	width:1920px;
	height:960px;
	position:absolute;
}
.e91_51 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei91_51_42_25 { 
	width:1920px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei91_51_42_26 { 
	background-image:linear-gradient(0deg, rgba(17.00000088661909, 8.000000473111868, 74.0000031888485, 1) 0%,rgba(105.14501675963402, 80.74999898672104, 255, 1) 100%) ;
	width:1920px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei91_51_134_58 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:298px;
	height:44px;
	position:absolute;
	left:1576px;
	top:38px;
}
.ei91_51_42_27 { 
	background-color:rgba(17.47171327471733, 8.36718712002039, 74.3749974668026, 1);
	width:298px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:22px;
	border-top-right-radius:22px;
	border-bottom-left-radius:22px;
	border-bottom-right-radius:22px;
}
.ei91_51_42_30 { 
	color:rgba(255, 255, 255, 1);
	width:298px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans Caption;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}
.ei91_51_135_252 { 
	width:22px;
	height:30px;
	position:absolute;
	left:14px;
	top:7px;
	background-image:url(images/loc_img.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei91_51_91_15 { 
	width:244px;
	height:82px;
	position:absolute;
	left:82px;
	top:19px;
}
.ei91_51_42_29 { 
	color:rgba(255, 255, 255, 1);
	width:165px;
	height:44px;
	position:absolute;
	left:79px;
	top:18px;
	font-family:PT Sans Caption;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.ei91_51_89_83 { 
	width:82px;
	height:82px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/__________1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_58 { 
	width:155px;
	height:47px;
	position:absolute;
	left:45px;
	top:155px;
}
.ei116_58_115_50 { 
	color:rgba(0, 0, 0, 1);
	width:121px;
	height:31px;
	position:absolute;
	left:34px;
	top:8px;
	font-family:PT Sans Caption;
	text-align:left;
	font-size:24px;
	letter-spacing:22;
}
.ei116_58_116_52 { 
	color:rgba(0, 0, 0, 1);
	width:20px;
	height:47px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans Caption;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e145_72 { 
	width:1920px;
	height:769px;
	position:absolute;
	left:0px;
	top:144px;
}
.e87_66 { 
	color:rgba(0, 0, 0, 1);
	width:538px;
	height:69px;
	position:absolute;
	left:691px;
	top:0px;
	font-family:PT Sans Caption;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e145_74 { 
	width:1920px;
	height:290px;
	position:absolute;
	left:0px;
	top:121px;
	background-image:url(images/img.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e145_76 { 
	color:rgba(0, 0, 0, 1);
	width:860px;
	height:28px;
	position:absolute;
	left:530px;
	top:463px;
	font-family:PT Sans Caption;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e147_73 { 
	width:656px;
	height:44px;
	position:absolute;
	left:632px;
	top:543px;
}
.e145_81 { 
	color:rgba(0, 0, 0, 1);
	width:198px;
	height:28px;
	position:absolute;
	left:0px;
	top:8px;
	font-family:PT Sans Caption;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e145_139 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:422px;
	height:44px;
	position:absolute;
	left:234px;
	top:0px;
}
.e145_140 { 
	background-color:rgba(52.06249974668026, 109.43751722574234, 127.5, 1);
	width:422px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:22px;
	border-top-right-radius:22px;
	border-bottom-left-radius:22px;
	border-bottom-right-radius:22px;
}
.e145_141 { 
	color:rgba(255, 255, 255, 1);
	width:422px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans Caption;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}
.e145_142 { 
	width:19px;
	height:28px;
	position:absolute;
	left:14px;
	top:8px;
	background-image:url(images/loc_img.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e147_72 { 
	width:405px;
	height:34px;
	position:absolute;
	left:757.5px;
	top:639px;
}
.e146_231 { 
	color:rgba(0, 0, 0, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:0px;
	top:3px;
	font-family:PT Sans Caption;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e146_225 { 
	width:215px;
	height:34px;
	position:absolute;
	left:190px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.ei146_225_30_53937 { 
	background-color:rgba(120.00000044703484, 120.00000044703484, 128.0000075697899, 0.11999999731779099);
	width:123px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.ei146_225_30_53938 { 
	color:rgba(0, 122.00000032782555, 255, 1);
	width:55px;
	height:22px;
	position:absolute;
	left:11px;
	top:6px;
	font-family:SF Pro;
	text-align:center;
	font-size:17px;
	letter-spacing:-0.4300000071525574;
	line-height:px;
}
.ei146_225_30_53939 { 
	color:rgba(0, 122.00000032782555, 255, 1);
	width:41px;
	height:22px;
	position:absolute;
	left:71px;
	top:6px;
	font-family:SF Pro;
	text-align:center;
	font-size:17px;
	letter-spacing:-0.4300000071525574;
	line-height:px;
}
.ei146_225_30_53940 { 
	background-color:rgba(120.00000044703484, 120.00000044703484, 128.0000075697899, 0.11999999731779099);
	width:86px;
	height:34px;
	position:absolute;
	left:129px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.ei146_225_30_53941 { 
	color:rgba(0, 122.00000032782555, 255, 1);
	width:64px;
	height:22px;
	position:absolute;
	left:11px;
	top:6px;
	font-family:SF Pro;
	text-align:center;
	font-size:17px;
	letter-spacing:-0.4300000071525574;
	line-height:px;
}
.e145_78 { 
	width:350px;
	height:44px;
	position:absolute;
	left:785px;
	top:725px;
}
.e145_79 { 
	background-color:rgba(255, 255, 255, 0.17000000178813934);
	width:350px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:28px;
	border-top-right-radius:28px;
	border-bottom-left-radius:28px;
	border-bottom-right-radius:28px;
}
.e145_80 { 
	color:rgba(0, 0, 0, 1);
	width:350px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans Caption;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}
