<!DOCTYPE html>
<html>
  <head>
    <title>Погода</title>
    <link rel="stylesheet" href="assort.css">
  </head>
  <body>
    <div class=assort>
        <div class=assort_body>
            <div class=assort_cards>
                {{ range .Forecasts }}
                    <div class=assort_card>
                        <div class="assort_card_bg" style="background-color:{{ .bg_color }}"></div>
                            <div class="assort_card_img" style="background-image:url({{ .img_url }})"></div>
                            <div class="assort_card_fade" style="background-image:linear-gradient(0deg, {{ .bg_color }} 0%,rgba(255, 255, 255, 0) 100%) ;"></div><span  class="card_desc">{{ .desc }}</span><span  class="card_title">{{ .title }}</span>
                            <div class=btn_add>
                                <div class="btn_bg"></div><span  class="btn_lbl">Добавить</span>
                            </div>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div><span  class="assort_title">Типы прогнозов</span>
        <div class=header_component>
          <div class="header_bg"></div>
          <div class=logo><span  class="logo_lbl">Погода</span>
            <div class="logo_img"></div>
          </div>
        </div>
        <div class=search><span  class="value">Поиск</span>
          <div class=x>
            <div class="icon"></div>
          </div>
        </div>
        <div class=assort_cart>
          <div class="cart_bg"></div>
          <div class="cart_img"></div>
        </div>
        <div class=assort_history>
          <div class="history_bg"></div>
          <div class="history_img"></div>
        </div>
    </div>
  </body>
</html>