<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=PT Sans' rel='stylesheet'>
    <title>Погода</title>
    <link rel="stylesheet" type="text/css" href="./assets/cart.css">
    <link rel="stylesheet" type="text/css" href="./assets/global.css">
  </head>
  <body style="margin:0;">
<div class=cart>
  <span  class="cart_title">Корзина предсказаний</span>
  <div class=cart_header>
    <div class=save_btn>
      <div class="save_bg"></div><span  class="save_lbl">Сохранить</span>
    </div>
    <div class=day_amount>
      <div class="day_amount_bg"></div><span  class="day_amount_lbl">Прогноз на 3 дня</span>
    </div>
    <div class=calc_type>
      <div class="calc_bg"></div><span  class="calc_lbl">Тип вычислений</span>
    </div>
  </div>
  <div class=predictions>
    {{ range .Predictions }}
    <div class=prediction>
      <div class = "cart_card">
        <div class="cart_card_bg" style="{{ .Solid_cart_style}}"></div>
        <div class="cart_card_img" style="background-image:url({{ .Forecast.Img_url }})"></div>
        <div class="cart_card_fade" style="{{ .Fade_cart_style }}"></div>
        <div class=btn_add>
          <button class="btn_det" onclick="location.href='http://127.0.0.1:8080/details?id={{.Forecast.Id}}'">
          <div class="btn_bg"></div><span  class="btn_lbl">Подробнее</span>
        </div>
        <div class=card_content><span  class="cart_card_title">{{ .Forecast.Short }}</span><span  class="desc">{{ .Forecast.Desc }}</span></div>
      </div>
      <div class="result">
        <div class="pred_result"></div><span  class="result_lbl">{{ .Prediction.Result }}</span>
      </div>
    </div>
    {{ end }}
  </div>
</div>
<div class=header_component>
    <div class="header_bg"></div>
    <div class=logo><span  class="logo_lbl">Погода</span>
      <div class="logo_img"></div>
    </div>
  </div>
</body>
</html>