<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Погода</title>
    <link rel="stylesheet" type="text/css" href="./assets/details.css">
    <link rel="stylesheet" type="text/css" href="./assets/global.css">
  </head>
  <body style="margin:0;">
<div class=details>
  <div class=header_component>
    <div class="header_bg"></div>
    <div class=logo><span  class="logo_lbl">Погода</span>
      <div class="logo_img"></div>
    </div>
  </div>
  <div class=detail_body>
  <span  class="detail_title">{{ .Det_title }}</span>
  <div class="detail_img" style="background-image:url({{ .Det_img_url }})"></div><span  class="detail_desc">{{ .Det_desc }}</span>
  </div>
</div>
  </body>
</html>