<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Погода</title>
    <link rel="stylesheet" type="text/css" href="./assets/details.css">
    <link rel="stylesheet" type="text/css" href="./assets/global.css">
  </head>
  <body style="margin:0;">
   {{ .Det_header }}
<div class="detail_title">{{ .Forecast_to_det.Title }}</div>
<div class="details">
  <div class="img" style="background-image:url({{.Forecast_to_det.Img_url}});"></div>
  <div class="info">
    <span  class="short">{{.Forecast_to_det.Short}}</span>
    <span  class="measure_type">{{.Forecast_to_det.Measure_type}}</span>
    <div  class="extended_desc">{{.Forecast_to_det.Extended_desc}}</div>
    <span  class="desc">“{{.Forecast_to_det.Desc}}</span>
  </div>
  </div>
  </body>
</html>