<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Погода</title>
    <link rel="stylesheet" type="text/css" href="./assets/menu.css"/>
    <link rel="stylesheet" type="text/css" href="./assets/global.css">
  </head>
  <body style="margin:0;">
    <div class=assort_cards>
      {{ range .Forecasts }}
      <div class=assort_card>
        <div class="assort_card_bg" style="{{ .Solid_style }}"></div>
        <div class="assort_card_img" style="background-image:url({{ .Forecast.Img_url }})"></div>
        <div class="assort_card_fade" style="{{ .Fade_style }}"></div>
        <div class="content_block">
          <div  class="card_title">{{ .Forecast.Title }}</div>
          <div  class="card_desc">{{ .Forecast.Desc }}</div>
          <button class="btn_add" onclick="location.href='http://127.0.0.1:8080/details?id={{.Forecast.Id}}'">
            <div class="btn_bg"></div>
            <span  class="btn_lbl">Подробнее</span>
          </button>
        </div>
      </div>
      {{ end }}
    </div>
    <span  class="assort_title">Типы прогнозов</span>
    {{ .Forec_header }}
    <div class=search>
      <input type="text" placeholder="Поиск..." class="value">
      <div class="search_btn"></div>
    </div>
    <div class=assort_cart>
      <button class="btn_cart" onclick="location.href='http://127.0.0.1:8080/cart'"></button>
      <div class="cart_bg"></div>
      <div class="cart_size_bg">
        <span  class="cart_size">3</span>
      </div>
      <div class="cart_img"></div>
    </div>
  </div>
</body>
</html>